<div class="container">
<h2>Name: AGL - iframe communitcation</h2>
<h4>my-account works!</h4>

<div class="row">
    <div id="box-1" class="col p-5" [ngStyle]="{backgroundColor:color1}"  >{{color1}}</div>
    <div id="box-2" class="col  p-5" [ngStyle]="{backgroundColor:color2}" >{{color2}}</div>
    <div class="w-100"></div>
    <div id="box-3" class="col  p-5" [ngStyle]="{backgroundColor:color3}"  >{{color3}}</div>
    <div id="box-4" class="col  p-5" [ngStyle]="{backgroundColor:color4}"  >{{color4}}</div>
  </div>
    <app-iframe-container></app-iframe-container>
  </div>