<div class="container">
<h2>Name: AGL - iframe communitcation</h2>
<h4>my-account works!</h4>

<div class="row">
    <div id="box-1" class="col p-5" [ngStyle]="{backgroundColor:color1}"  >{{color1}}</div>
    <div id="box-2" class="col  p-5" [ngStyle]="{backgroundColor:color2}" >{{color2}}</div>
    <div class="w-100"></div>
    <div id="box-3" class="col  p-5" [ngStyle]="{backgroundColor:color3}"  >{{color3}}</div>
    <div id="box-4" class="col  p-5" [ngStyle]="{backgroundColor:color4}"  >{{color4}}</div>
  </div>
    <app-iframe-container></app-iframe-container>
  </div>
  

<!-- Button trigger modal -->

<!-- Modal -->
<div [ngClass]="{'show': showModal}" class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{modalHeading}}</h5>
        <button type="button" class="close" (click)="showModal=false" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{modalParagraph}}
      </div>
      <div class="modal-footer">
        <button type="button" (click)="showModal=false" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" (click)="addToSession(modalHeading)" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
