# dependencies
node_modules
IFRAME-COMMS/node_modules
IFRAME-GUEST/node_modules
IFRAME-HOST/node_modules
# production
build

# misc
.DS_Store

npm-debug.log
yarn-error.log
yarn.lock
.yarnclean
.vscode
