<h1>Mirco frontend Container setup:</h1>
<figure class="highlight">
  <pre><code class="language-js"  data-lang="js">
  first need to import the following from /microFrontend
  HostMicroService,
  MessageType,
  IMessage,
  IGuest,

public host: HostMicroService;

const config = 
  origin: 'http://localhost:4200',
  guestWrapperId: 'iframe-container',

this.host = new HostMicroService(config.origin, config.guestWrapperId),
this.host.init();

</code>
</pre>
</figure>
<p>As the guest we have to register with the mirco frontend if we want observers on the DOM changes</p>

<!-- <button  class="btn btn-success ml-5" (click)="changeSize()" id="iframeResize">change iframe size</button> -->

<!-- <button  class="btn btn-danger ml-5" (click)="dirMessageGuest()" id="guestChat">Guest chat !</button> -->
<!-- <button  class="btn btn-info ml-5" (click)="changeUrl()" id="urlChange">Guest update url !</button> -->

<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
  </button> -->
  
  <div id="accordion">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
           Change the styling of any property
          </button>
        </h5>
      </div>
  
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          <button class="btn btn-primary ml-5" (click)="runAction()" id="change-colour">color change!</button>

          <figure class="highlight">
            <pre><code class="language-js"  data-lang="js">
              guest code:
                  payload: 
                    modal:
                      open: true, // this would be for a popup or modal
                      title: 'title', // title of the message if needed
                      paragraph: 'this is the content for the modal coming from the iframe thats goes throught the micro frontend', 

                      window.parent.postMessage(model, 'http://localhost:4200');
             </code>
            </pre>
          </figure>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            open a modal that is on the parent / host
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
          <button  class="btn btn-warning ml-5" (click)="openParentModal()" id="parent-modal">show modal on parent!</button>
          <figure class="highlight">
            <pre><code class="language-js"  data-lang="js">
          const modal: IMessage = 
            id: 'open-iframe',
            type: MessageType.MODAL,
            payload: 
              modal:
                open: true, // this would be for a popup or modal
                title: 'title', // title of the message if needed
                paragraph: 'this is the content for the modal coming from the iframe thats goes throught the micro frontend', // name of the message

          window.parent.postMessage(modal, 'http://localhost:4200');
          </code>
          </pre>
          </figure>
              </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            The resize of the iframe is autimated via observables...
          </button>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="card-body">
          <figure class="highlight">
            <pre><code class="language-js"  data-lang="js">
              add the listerner
              this.host.resized();
          </code>
          </pre>
          </figure>        
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingFour">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            Change the url
          </button>
        </h5>
      </div>
      <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
        <div class="card-body">
          <button  class="btn btn-info ml-5" (click)="changeUrl()" id="urlChange">Guest update url !</button>
          <figure class="highlight">
            <pre>
              <code class="language-js"  data-lang="js">
                For external link:
                parent.document.location.replace('http://localhost:4200/guest');

                interenal
             </code>
          </pre>
          </figure>        
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingFive">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            Change the text of the host
          </button>
        </h5>
      </div>
      <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
        <div class="card-body">
          <button  class="btn btn-info ml-5" (click)="changeText()" id="urlChange">Guest title text</button>
          <figure class="highlight">
            <pre>
              <code class="language-js"  data-lang="js">
                For external link:
                parent.document.location.replace('http://localhost:4200/guest');

                interenal
             </code>
          </pre>
          </figure>        
        </div>
      </div>
    </div>
  </div>
<div id="text-update">
  iframe content
    <h1>{{textUpdate}}</h1>
</div>